@import 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap';

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(107deg, #f8eeff 0%, #ffe8e8 100.55%);
  font-family: Orbitron, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body.dark {
  background: linear-gradient(134deg, #1e1242 1.02%, #25087c 100%),
    linear-gradient(107deg, #f8eeff 0%, #ffe8e8 100.55%);
  color: #fff;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.dark-check {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  &--p {
    color: #333;
    text-align: center;
    font-family: Orbitron, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.dark-check input {
  display: none;
  border: none;
  outline: none;
}

.input-label {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-image: url('/src/images/Sun.svg');
  background-size: cover;
  cursor: pointer;
  user-select: none;
  transition: background-image 0.3s;
}

input:checked ~ .input-label {
  background-image: url('/src/images/moon.svg');
}

.theme-toggle input:checked + .theme-label-text {
  color: #fff;
}

.game-name {
  display: inline-block;
  width: 80px;
  height: 60px;
  background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 24px;
}

.game-score {
  width: auto;
  height: auto;
  color: #333;
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-container {
  position: relative;
  width: calc(4 * 80px + 3 * 10px);
  height: calc(4 * 80px + 3 * 10px);
}

.game-field {
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(134deg, #1e1242, #25087c, #3a0ca3);
  background-size: 400% 400%;
  z-index: 1;
}

.field-cell {
  width: 80px;
  height: 80px;
  padding: 0;
  background: linear-gradient(135deg, #fff9f3 0%, #ffe2ff 100%);
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:not([class*='--']) {
    animation: pulse 5s ease-in-out infinite;
  }
}

@keyframes pulse {
  0%,
  100% {
    background-color: #fff9f3;
  }
  50% {
    background-color: #ffe2ff;
  }
}

.tiles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.tile {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Orbitron, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 10px;

  &--2 {
    background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
  }
  &--4 {
    background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
  }
  &--8 {
    background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
  }
  &--16 {
    background: linear-gradient(135deg, #fddb92 0%, #d1fdff 100%);
    font-weight: 500;
  }
  &--32 {
    background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
    font-weight: 500;
  }
  &--64 {
    background: linear-gradient(135deg, #fccb90 0%, #d57eeb 100%);
    font-weight: 500;
  }
  &--128 {
    background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
    font-weight: 600;
  }
  &--256 {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    font-weight: 600;
  }
  &--512 {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    font-weight: 600;
  }
  &--1024 {
    background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
    font-weight: 700;
  }
  &--2048 {
    background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
    font-weight: 700;
  }
}

.game-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  background: #edc22e;
  color: #f9f6f2;
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
}

.info {
  display: flex;
  padding: 12px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  color: #333;
  font-family: Orbitron, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.button {
  display: flex;
  padding: 34px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.start {
  width: 106px;
  height: auto;
  border-radius: 12px;
  background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
  background-size: 200% 200%;
  background-position: 0% 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition:
    background-position 0.5s ease,
    font-weight 0.5s ease;
  &:hover {
    background-position: 100% 50%;
  }
}

.restart {
  width: 106px;
  height: auto;
  border-radius: 12px;
  background: linear-gradient(135deg, #43e97b 0%, #38f9d7 100%);
  background-position: 0% 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition:
    background-position 0.5s ease,
    font-weight 0.5s ease;
  &:hover {
    background-position: 100% 50%;
  }
}

.message {
  color: #333;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.message-win {
  background: #edc22e;
  color: #f9f6f2;
}

.message-container {
  margin-top: 20px;
  width: 100%;
  height: 150px;
}
